@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }
    

    h1 {
      font-family: 'SEGA LOGO FONT';
      font-weight: 200;
      color: #0ccac4;
    }

    body {
      height: 100vh;
      overflow: hidden;
    }

    .tc {
      display: flex;
      flex-direction: column;
    }

    /* .pa2 {
      height: 20%;
    } */

    /* .f1 {
      height: 20%;
    }  */

    #card-list {
      /* height: 400px; */
      /* height: 60%; */
      /* flex: 1;
      overflow: scroll;
      border: 5px solid black; */
    }


